
@model UA.Models.AlumnoViewModel

<div class="box2">
    <div class="containers">
        <div>
            <h1>Registrar</h1>
        </div>

        <form class="containers" action="/Alumno/CrearAlu" method="POST">
            <div class="containers">
                <label for="Nombre">Nombre</label><br />
                <input class="form-control" type="text" id="Nombre" name="Nombre" value="@Model.Nombre" />
                <span style="color:red">@Html.ValidationMessageFor(m => m.Nombre)</span><br />
                @*@Html.TextBoxFor(m => m.Nombre)<br />*@

                <label for="Apellido">Apellido</label><br />
                <input class="form-control" type="text" id="Apellido" name="Apellido" value="@Model.Apellido" />
                <span style="color:red">@Html.ValidationMessageFor(m => m.Apellido)</span><br />

                <label for="IDcarrera">ID de Carrera</label><br />
                <input class="form-control" type="text" id="IDcarrera" name="IDcarrera" value="@Model.IDcarrera" />
                <span style="color:red">@Html.ValidationMessageFor(m => m.IDcarrera)</span><br />
            </div>
            <div class="flx-cont">
                <div>
                    <button class="createbtn">Registrar</button>
                </div>
            </div>
        </form>
        <br />
        <p><a href="https://localhost:44321/Alumno/LogIn" class="boton">Ya estoy Registrado</a></p>
    </div>
</div>