
@model UA.Models.AlumnoViewModel

<p>Espacio del Alumno</p>

<h1>Registrar</h1>

<form action="/Alumno/CrearAlu" method="POST">
    <label for="Nombre">Nombre</label><br />
    <input class="form-control" type="text" id="Nombre" name="Nombre" value="@Model.Nombre" />
    <span style="color:red">@Html.ValidationMessageFor(m => m.Nombre)</span><br />
    @*@Html.TextBoxFor(m => m.Nombre)<br />*@

    <label for="Apellido">Apellido</label><br />
    <input class="form-control" type="text" id="Apellido" name="Apellido" value="@Model.Apellido" />
    <span style="color:red">@Html.ValidationMessageFor(m => m.Apellido)</span><br />

    <label for="IDcarrera">ID de Carrera</label><br />
    <input class="form-control" type="text" id="IDcarrera" name="IDcarrera" value="@Model.IDcarrera" />
    <span style="color:red">@Html.ValidationMessageFor(m => m.IDcarrera)</span><br />

    <button class="boton-switch">Registrar</button>
</form>
<br />


@*<form action="/Alumno/MateriasAlu" method="POST">
    <label for="ID">ID del Alumno</label><br />
    <input class="form-control" type="text" id="ID" name="IDalumno" value="" />
    <span style="color:red">@Html.ValidationMessageFor(m => m.IDcarrera)</span><br />

    <button class="boton-switch">Ingresar</button>
</form>*@


<p><a href="https://localhost:44321/Alumno/MateriasAlu" class="boton">Ya estoy Registrado</a></p>

<!-- <p><a href="https://localhost:44321/Alumno/ShowAlu" class="btn btn-primary btn-lg">Alumnos Inscriptos</a></p> -->
