@model UA.Models.MateriaViewModel

<p>Espacio del Administrador</p>

<h1>Cargar Materia Nueva</h1>

<form action="/Admin/CargaMateria" method="POST">

    <label for="ID">ID de Materia</label><br />
    <input class="form-control" type="text" id="ID" name="ID" value="@Model.ID" />
    <span style="color:red">@Html.ValidationMessageFor(m => m.ID)</span><br />

    <label for="Nombre">Materia</label><br />
    <input class="form-control" type="text" id="Materia" name="Materia" value="@Model.Materia" />
    @*<span style="color:red">@Html.ValidationMessageFor(m => m.Nombre)</span><br />*@

    <label for="IDcarrera">ID de la Carrera</label><br />
    <input class="form-control" type="text" id="IDcarrera" name="IDCarrera" value="@Model.IDcarrera" />
    <span style="color:red">@Html.ValidationMessageFor(m => m.IDcarrera)</span><br />

    <label for="IDcorrelativa1">ID de la Correlativa 1</label><br />
    <input class="form-control" type="text" id="IDcorrelativa1" name="IDcorrelativa1" value="@Model.IDcorrelativa1" />
    @*<span style="color:red">@Html.ValidationMessageFor(m => m.Nombre)</span><br />*@

    <label for="IDcorrelativa2">ID de la Correlativa 2</label><br />
    <input class="form-control" type="text" id="IDcorrelativa2" name="IDcorrelativa2" value="@Model.IDcorrelativa2" />
    @*<span style="color:red">@Html.ValidationMessageFor(m => m.Nombre)</span><br />*@

    <label for="Semestre">Semestre</label><br />
    <input class="form-control" type="text" id="Semestre" name="Semestre" value="@Model.Semestre" />
    @*<span style="color:red">@Html.ValidationMessageFor(m => m.Nombre)</span><br />*@
    <br />
    <button class="boton-switch">Crear</button>
</form>
<br />
<p><a href="https://localhost:44321/Admin/index" class="btn btn-lg">Volver</a></p>



